*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --orange-color: rgba(255, 72, 32, 1);
    --blue-color: rgba(4, 43, 85, 1);
    --dark-blue: rgba(4, 12, 24, 1);
    /* --pink-yellow-gradient: linear-gradient(to right, rgba(174, 103, 250, 1), rgba(244, 152, 103, 1)); */
    --pink-yellow-gradient: linear-gradient(to right, rgba(174, 103, 250, 1), rgb(255, 143, 82));
    --yellow-pink-gradient: linear-gradient(to left, rgba(174, 103, 250, 1), rgb(255, 143, 82));
    --footer-blue: rgba(3, 27, 52, 1);
    --smooth: ease-in .3s;
    --content-blue: rgba(129, 175, 221, 1);
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
}

body{
    background-color: var(--dark-blue);
    color: white;
    font-family: 'Manrope';
    font-size: 18px;
}

/* nav-bar */

.nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    /* position: fixed; */
    width: 100%;
}

.nav-center{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.logo img{
    height: 46px;
    padding-right: 20px;
}

.logo p{
    font-family: 'Candara';
    letter-spacing: 4px;
}

.nav-links{
    width: 50%;
    height: 100px;
}

.links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links li{
    position: relative;
}

.links li:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 6px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: var(--smooth);
}

.links li:hover:after{
    width: 70%;
}

.nav-center div{
    display: flex;
    align-items: center;
}

.orange-btn{
    padding: 16px 0;
}

.orange-btn:hover{
    opacity: .7;
    transition: var(--smooth);
}

.orange-btn a{
    padding: 16px 28px;
    background-color: var(--orange-color);
}

.orange-btn a svg{
    margin-right: 10px;
}

/* content */

.section-center{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
}

.hero{
    height: 580px;
}

.content-wrapper{
    width: 80%;
}

.hero-primary-title{
    font-size: 62px;
    font-weight: bolder;
    background: var(--pink-yellow-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-secondary-title{
    margin: 54px 0;
}

.content-wrapper p span, .content-wrapper h1 span{
    display: block;
    /* position: relative; */
}

.hero-section{
    height: 840px;
    /* background: -webkit-radial-gradient(right 60%,red,yellow,green); */
    /* background: radial-gradient(at left 50%,var(--blue-color), rgba(4, 12, 24, .9),rgba(4, 12, 24, 0)); */
    /* background-image: radial-gradient(at left 50%,rgba(4, 12, 24, .9),rgba(4, 12, 24, 0)), url('assets/intro-wallpaper.png'); */
    background-image: linear-gradient(to right, rgba(4, 43, 85, .9), rgba(4, 43, 85, .3)), url('assets/intro-wallpaper.png'); 
    background-size: cover;
}

.collaborator-section{
    /* height: 1130px; */
    margin: 50px 0;
}

.hero-primary-title{
    position: relative;
}

.underline-text:after{
    content: "";
    position: absolute;
    background: var(--pink-yellow-gradient);
    height: 6px;
    width: 70%;
    left: 0;
    bottom: -10px;
}

.perzim-intro{
    display: grid;
    grid-template-columns: 1fr 8fr;
    height: inherit;
    margin: 50px 0;
}

.perzim-intro-content{
    margin-left: 50px;
}

.medium-white-title{
    font-size: 36px;
    font-weight: bold;
    padding: 40px 0;
}

.medium-blue-text{
    color: var(--content-blue);
    font-size: 16px;
}

.about-perzim{
    background-color: var(--blue-color);
    padding: 40px;
}

.about-content ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.about-content ul li{
    padding: 30px 20px;
}

.about-content ul li span{
    position: relative;
}

.about-content ul li p{
    margin-bottom: 10px;
    line-height: 1.6;
}

.small-white-text:before{
    content: "";
    position: absolute;
    background: var(--pink-yellow-gradient);
    height: 4px;
    width: 30%;
    left: 0;
    bottom: 30px;
}

.gradient-btn{
    background: var(--pink-yellow-gradient);
    padding: 16px 28px;
    border-radius: 20px;
    margin-left: 40px;
    transition: var(--smooth);
}

.gradient-btn:hover{
    background: var(--yellow-pink-gradient);
}

.visit-perzim-section{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */

footer{
    height: 950px;
    /* background-color: var(--footer-blue); */
    background: radial-gradient(ellipse at top, rgba(7, 50, 95, 1), transparent), radial-gradient(ellipse at bottom, rgba(3, 27, 52, 1), transparent);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-top .hero-primary-title{
    margin-bottom: 60px;
}

.footer-center{
    text-align: center;
}

.footer-contact-us-btn{
    border: 2px solid white;
    border-radius: 50px;
    padding: 16px 28px;
}

.footer-contact-us-btn:hover{
    background-color: white;
    color: var(--footer-blue);
    transition: var(--smooth);
}

.footer-line{
    height: 1px;
    background-color: white;
    margin: 70px 0;
}

.footer-content{
    display: grid;
    grid-template-columns: 4fr 6fr;
}

.footer-bottom-left .logo img{
    width: 180px;
    height: auto;
    margin-bottom: 20px;
    display: block;
}

.footer-bottom-right{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-bottom-right div ul li{
    padding: 10px 0;
}

.footer-links ul li a{
    display: block !important;
}

.footer-bottom-right div ul li a{
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.footer-bottom-right div ul li a p,
.footer-bottom-right div ul li a svg{
    height: 100%;
    display: flex;
    align-items: center;
}

.footer-bottom-right div ul li a svg{
    margin-right: 10px;
}

.footer-bottom-right div ul li:hover{
    opacity: .5;
    transition: var(--smooth);
}

.footer-bottom-right div:not(:last-child){
    margin-right: 30px;
}

.footer-bottom-right div{
    width: 240px;
}

.footer-bottom{
    display: block;
    text-align: left;
}

.link-title{
    position: relative;
    margin-bottom: 20px;
}

.link-title:after {
    content: "";
    background: white;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 20%;
    height: 6px;
}

.copyright-text{
    margin-top: 90px;
    text-align: center;
}

@media screen and (max-width: 1056px){
    .footer-content{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    .footer-bottom-right div:not(:last-child){
        margin-right: 10px;
    }
    /* .footer-bottom-right div:not(:last-child){
        margin-right: 0px;
    } */
    .footer-bottom-right div{
        width: 220px;
    }
}